<div class="container-fluid">
    <div class="row area">
        <div class="col-xs">
            <status-bar></status-bar>
        </div>
    </div>
    <div class="row content">
        <div class="col area">
            placeholder for voted cards component
        </div>
        <div class="col area">
            placeholder for story detail component
        </div>
    </div>
    <div class="row content">
        <div class="col area">
            <my-cards></my-cards>
        </div>
        <div class="col area">
            <story-list></story-list>
        </div>
    </div>
</div>