<div class="container-fluid">
    <header-page></header-page>
    <div class="row area">
        placeholder for status bar component
    </div>
    <div class="row content">
        <div class="col area">
            placeholder for voted cards component
        </div>
        <div class="col area">
            placeholder for story detail component
        </div>
    </div>
    <div class="row content">
        <div class="col area">
            placeholder for set of cards component
        </div>
        <div class="col area">
            placeholder for story list component
        </div>
    </div>
</div>