li {
    list-style: none;
    border-bottom: 1px solid silver;
    margin-bottom: 5px;
}

.pill-label {
    border-radius: 4px;
    padding: 3px;
    color: white;
    max-width: 100px;
    text-align: center;
    margin-bottom: 5px;
}

.pill-label--grommed {
    background-color: tomato;
 
}
.pill-label--new {
    background-color: teal;
}

.story-points{
    margin-bottom: 15px;
    width: 30px;
    text-align: center;
}

.story-list-container{
    height: 300px;
    overflow-y: scroll;
}