 <div class=story-list-container>
 <p style="text-align: center">uid: {{uid}}</p>
 <ul>
     <li *ngFor="let story of stories | async">
         <h3>#{{ story.id}} {{ story.title}}</h3>
         <p>{{ story.detail}}</p>
         <label>Story points: </label>
         <input class="story-points" [(ngModel)]="story.points" (change)="updateStory(story)">
         <div class="pill-label pill-label--grommed" *ngIf="story.points != 0">Grommed</div>
         <div class="pill-label pill-label--new" *ngIf="story.points == 0">New</div>
     </li>
 </ul>
</div>