<div align="center">
  <img src="assets/images/cards/b-0.png" class="cards"/>
  <img src="assets/images/cards/b-1.png" class="cards"/>
  <img src="assets/images/cards/b-2.png" class="cards"/>
  <img src="assets/images/cards/b-3.png" class="cards"/>
  <img src="assets/images/cards/b-5.png" class="cards"/>
  <img src="assets/images/cards/b-8.png" class="cards"/>
  <img src="assets/images/cards/b-13.png" class="cards"/>
  <img src="assets/images/cards/b-coffee.png" class="cards"/>
  <img src="assets/images/cards/b-noidea.png" class="cards"/>
</div>
