<div align="center">
  <img src="assets/images/cards/b-0.png" width="10%" height="10%"/>
  <img src="assets/images/cards/b-1.png" width="10%" height="10%"/>
  <img src="assets/images/cards/b-2.png" width="10%" height="10%"/>
  <img src="assets/images/cards/b-3.png" width="10%" height="10%"/>
  <img src="assets/images/cards/b-5.png" width="10%" height="10%"/>
  <img src="assets/images/cards/b-8.png" width="10%" height="10%"/>
  <img src="assets/images/cards/b-13.png" width="10%" height="10%"/>
  <img src="assets/images/cards/b-coffee.png" width="10%" height="10%"/>
  <img src="assets/images/cards/b-noidea.png" width="10%" height="10%"/>
</div>
