<div>
  <img (click)="vote(0)" src="assets/images/cards/b-0.png" class="cards cardsShadow" />
  <img (click)="vote(1)" src="assets/images/cards/b-1.png" class="cards cards1 cardsShadow" />
  <img (click)="vote(2)" src="assets/images/cards/b-2.png" class="cards cards2 cardsShadow" />
  <img (click)="vote(3)" src="assets/images/cards/b-3.png" class="cards cards3 cardsShadow" />
  <img (click)="vote(5)" src="assets/images/cards/b-5.png" class="cards cards5 cardsShadow" />
  <img (click)="vote(8)" src="assets/images/cards/b-8.png" class="cards cards8 cardsShadow" />
  <img (click)="vote(13)" src="assets/images/cards/b-13.png" class="cards cards13 cardsShadow" />
  <img (click)="vote(-1)" src="assets/images/cards/b-noidea.png" class="cards cardsQuestion cardsShadow" />
  <img (click)="vote(-2)" src="assets/images/cards/b-coffee.png" class="cards cardsLast cardsShadow" />
</div>