/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
/* -- if you want to change the theme
    @import '@angular/material/prebuilt-themes/'*;
        deeppurple-amber.css
        indigo-pink.css
        pink-bluegrey.css
        purple-green.css
*/

.area{
    background-color: rgba(86,61,124,.15);
    border: 1px solid rgba(86,61,124,.2);
}

.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}