<!--home component header-->
<div class="wrapper">
  <div class="col-sm-12">
    <h1>{{pageTittle}}</h1>
  </div>
</div>

<!--home component container-->
<div class="row">
  <mat-grid-list cols="2" rowHeight="fit">
    <mat-grid-tile>
      <!-- Joing to an existing Planning -->
      <div class="gride-container" [formGroup]="joinForm">
        <h2>Join existing planning</h2>
        <mat-form-field>
          <input matInput placeholder="Planning ID" formControlName="planningId" [errorStateMatcher]="matcher">
          <mat-error *ngIf="joinForm.controls['planningId'].hasError('required')">
            Planning ID is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="guestEmail" [errorStateMatcher]="matcher">
          <mat-error *ngIf="joinForm.controls['guestEmail'].hasError('email') && !joinForm.controls['guestEmail'].hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="joinForm.controls['guestEmail'].hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Short Name" formControlName="shortName" [errorStateMatcher]="matcher">
          <mat-error *ngIf="joinForm.controls['shortName'].hasError('minlength') && !joinForm.controls['shortName'].hasError('required')">
            Short Name must be at least 3 characters long
          </mat-error>
          <mat-error *ngIf="joinForm.controls['shortName'].hasError('required')">
            Short Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <br><br>
        <button mat-raised-button (click)="validatePlanning()" [disabled]="!joinForm.valid">JOIN</button>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <!-- Moderator panel -->
      <div class="gride-container">
        <h2>Moderate</h2>
        <mat-form-field>
          <input matInput placeholder="Moderator Code">
        </mat-form-field>
        <button mat-raised-button [disabled]=true>JOIN as Moderator</button>
        <br><br>
        <mat-divider></mat-divider>
        <mat-form-field>
          <input matInput placeholder="Email">
        </mat-form-field>
        <br><br>
        <button mat-raised-button [disabled]=true>Create Planning</button>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>